<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>URL编码 / 解码</title>
<link rel="stylesheet" href="../../css/inset.css">
<link rel="stylesheet" href="resource/common.css">
</head>

<body>
<div class="tool_ins_tl">URL 编码/解码</div>
<div class="tool_ins_bodyarea">
	
	<div class="urlen_area">
		<div class="urlen_textarea_box">
			<textarea name="" id="textArea">
 #
 # 请在此处粘贴你要编码或解码的URL
 # 目前只支持 UTF-8 的编解码
 #
 			</textarea>
		</div>
		<div class="urlen_ctrl">
			<a href="javascript:;" class="urlen_btn_s01" id="encodeBtn">编码</a>
			<a href="javascript:;" class="urlen_btn_s01" id="decodeBtn">解码</a>
			<a href="javascript:;" class="urlen_btn_s02 urlen_copy" id="copyBtn">复制</a>
			<a href="javascript:;" class="urlen_btn_s02 urlen_clear" id="clearBtn">清空</a>
			<span class="urlen_msg" id="msgBox"></span>
		</div>
	</div>
</div>
<script src="resource/main.js"></script>
<script>
mainInit();
</script>
</body>
</html>