.p-qiuqian-container * {font-family: "Consolas", "Microsoft Yahei", Arial, sans-serif; } 
.p-qiuqian-container div {font-size: 10pt; } 
.p-qiuqian-container  { margin: 0 0 50px; } 
.p-qiuqian-container .info { color: #dc143c; font-size: 9pt; } 
.p-qiuqian-container .info strong {background:crimson; color: white; padding:0 3px; margin: 0 1px; } 
.p-qiuqian-container .container>.title {color: #bbb; font-weight: bold; margin-bottom: 10px; background: #555; padding: 5px 15px; font-size: 120%; } 
.p-qiuqian-container .date {font-size: 17pt; font-weight: bold; line-height: 30pt;  border-bottom: 1px solid #999; } 
.p-qiuqian-container .check_luck {padding-top: 10px; } 
.p-qiuqian-container .check_luck ul{padding-bottom: 10px; line-height: 1.8; font-size: 14px} 
.p-qiuqian-container .selecttable {width: 100%; } 
.p-qiuqian-container .selecttable td {text-align: center; padding: 10px 0; margin: 1px; background: #ccc; cursor: pointer; width: 20%; border-radius:2px; } 
.p-qiuqian-container .selecttable td:hover {background: #aaa; } 
.p-qiuqian-container .selecttable td.selected {background: #333; color: #fff; } 
.p-qiuqian-container .roll {height: 200px; border:1px solid #faa; margin-top:10px; overflow: hidden; position: relative; } 
.p-qiuqian-container .card {background:#ffffff; text-align: center; line-height: 200px; border-top: 1px solid #faa; position: absolute; top: 201px; width: 100%; } 
.p-qiuqian-container .card .title {font-size: 70pt; font-weight: bold; } 
.p-qiuqian-container .card.clickable {background: crimson; color: #ffffff; cursor: pointer; }